<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">

<link href="../css/theReward.css" rel="stylesheet">    
 	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery.min.js"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../js/bootstrap.js"></script>
	
	<script type="text/javascript">
		function tr_commit(){
			$("#tr_commit").toggle();
		}
		
		
	</script>
</head>
<body>
	
	<div class="container" style="margin-top:45px">
		<div class="row">
<!-- left div -->
			<div class="col-xs-3">
				<div class="tr_teacher">
					<div><b>发布者信息</b></div>	
					<div>
						<div class="pull-left tr_tea_img">
							<a href=""><img src="../img/rd.jpg" width="100%"/></a>
						</div>
						<div class="pull-left tr_tea_name">
							<a href="" title="芸豆炖白菜炖芋头炖土豆炖牛肉炖大麻壳子"><b>芸豆炖白菜炖芋头炖土豆炖牛肉炖大麻壳子</b></a>
						</div>
						<div class="clearfix"></div>
					</div>	
					<div>发布过&nbsp;<b>4</b>&nbsp;个悬赏</div>	
					<div>其中&nbsp;<b>2</b>&nbsp;个得到解决</div>	
					<div>信用评价：</div>	
					<div>
	<!-- 用星星评价的地方    第一个span是黄色星星  第5个span是空心星星  分别循环   -->
						<span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span>☆</span>
	<!-- 用星星评价的地方 结束 -->							
	
					</div>	
					<div class="tr_mes_btn"><button type="button" class="btn btn-info tr_message_btn">私信他</button></div>
				</div>
			</div>
<!-- right div -->
			<div class="col-xs-9">
				<div class="pull-left">
					<div class="topdirection"></div>	
				</div>
				<div class="pull-left tr_tr">
					<div class="tr_time">有效期限：2014-3-5 至 2014-5-5</div>
					<div>
						<span class="tr_name"><b>求购PHP基础课程求购PHP基础课程求购PHP基础课程求购PHP基础课程</b></span>
						<div class="tr_type pull-right">#编程</div>
						<div class="clearfix"></div>
					</div>
					<div class="tr_intro">
						<div>详细要求：</div>
						<div>在这里写详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求详细的要求</div>
					</div>
					<div class="tr_btns">
						<span><button type="button" class="btn btn-warning">我要揭榜</button></span>
						<span><button type="button" class="btn btn-primary" onclick="tr_commit()">留言</button></span>
					</div>
					<div class="tr_commit" id="tr_commit">
						<form action="" method="post">
							<div class="pull-left tr_textarea">
								<textarea></textarea>
							</div>
							<div class="pull-left tr_com_btn">
								<button type="button" class="btn btn-info">评论</button>						
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
					<div>
<!-- 一条留言   循环开始处 -->
						<div class="tc_commit">
							<div class="pull-left tc_commit1">
								<div><img src="../img/rd.jpg" class="img-circle" width="100%"/></div>
							</div>
							<div class="pull-left tc_commit2">
								<div class="topdirection2 pull-left"></div>
								<div class="pull-left tc_commit32">
									<div>
										<span class="tc_commit_name"><a href="">芸豆炖白菜炖土豆</a>留言：</span>
										<span class="tc_time pull-right">2014-5-2 12:54:23</span>
										<div class="clearfix"></div>
									</div>
									<div class="tc_commit_content">评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
<!-- 一条留言   循环结束处 -->						
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	
	

</body>
</html>