<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../../css/non-responsive.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/download.css" rel="stylesheet">    
 
</head>
<body>
	{% include 'public/common/header.html' %}
	<div class="container" style="margin-top:45px">
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="th1">上传者</th>
							<th class="th2">下载量</th>
							<th class="th3">上传时间</th>
							<th class="th4">文件</th>
							<th class="th5">文件介绍</th>
<!-- 只有发布者才有   开始处 -->
							<th class="th6">管理</th>
<!-- 只有发布者才有    结束处-->
						</tr>
					</thead>
					<tbody>
<!-- 一个文件  循环开始处 -->
						<tr>
							<td>
								<div class="td_text">芸豆炖白菜炖芋头芸豆炖白菜炖芋头</div>
							</td>
							<td>
								<div class="td_text">5555</div>
							</td>
							<td><div class="td_text">2014-5-5 12:12:55</div></td>
							<td><div class="td_text"><a href="">男神图片压缩包</a></div></td>
							<td>
								<div class="td_text2">规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官规范的双方各是大法官</div>
							</td>
<!-- 只有发布者才有   开始处 -->
							<td>
								<div class="td_text">
									<span class="td_a"><a href="">删除</a></span>
								</div>
							</td> 
<!-- 只有发布者才有  结束处 -->							
						</tr>
<!-- 一个文件   循环结束处 -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	
	
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../../js/jquery.min.js"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../js/bootstrap.js"></script>
		
	<script type="text/javascript">

		
	</script>
</body>
</html>