<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/bootstrap-switch.css" rel="stylesheet">
<link href="../ico/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
<link href="../css/groups.css" rel="stylesheet">    
 
</head>
<body>
	{% include 'public/common/header.html' %}
	<div class="container" style="margin-top:45px">
		<div class="row">
			<div class="col-xs-12">
<!-- 两个按钮 -->
				<div class="twoBtn">
					<a href="{% url 'groups:groupcreate' %}" type="button" class="btn btn-lg btn-primary">创建小组</a>
					<a href="{% url 'users:managegroup' %}" type="button" class="btn btn-lg btn-warning">我的小组</a>
				</div>
<!-- 所有小组 -->
				<div class="groups">
<!-- 一个小组 循环开始处 -->
					{% for i in groups %}					
					<div class="a_group pull-left">
						<div class="imgDiv"><img src="group/{{i.0}}" width="120px" class="img"></div>
						<div class="groupName"><a href="{% url 'groups:thegroup' i.3 %}"><strong>{{i.1}}</strong></a></div>
						<div class="switchDiv">
							<div class="switch switch-small" data-on="info" data-off="NO">
<!--如果是  未加入的小组 -->	{% ifequal i.2 '0' %}
								<input type="checkbox" checked="checked" id="join{{i.3}}" onchange="join({{i.3}})"/> 
<!--如果是  已加入的小组 -->	{% else %}
								<input type="checkbox" id="join{{i.3}}" onchange="join({{i.3}})" />
							{% endifequal %}
							</div>
						</div>
					</div>	
					{% endfor %}
<!-- 一个小组 循环结束处 -->	
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery.min.js"></script>
	
	<script src="../js/join.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../js/bootstrap.js"></script>
	<script src="../js/bootstrap-switch.js"></script>
	
</body>
</html>