<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/groupCreate.css" rel="stylesheet">    
<link href="../ico/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
</head>
<body>
	{% include 'public/common/header.html' %}
	<div class="container" style="margin-top:45px">
		<div class="row">
<!-- left div -->
			<div class="col-xs-8">
				<div>
					<div class="publisher_img pull-left">
						<img src="../avatar/{{info.img}}" width="100%" class="img-circle"/>
					</div>
					<div class="publisher_name pull-left">
						<div>{{info.user_name}}</div>
						<div class="publisher_sign"><i>{{info.sign}}</i></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="topdirection"></div>
					<div class="group_mes">
					<form action="{% url 'groups:groupcreate' %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="group_form_all">
							<div class="group_form_name pull-left"><b>小组名</b></div>
							<div class="group_form pull-left"><input type="text" name="groupName"></div>
							<div class="clearfix"></div>
						</div>
						<div class="group_form_all">
							<div class="group_form_name pull-left"><b>小组图片</b></div>
							<div class="group_form pull-left"><input type="file" name="groupImg"></div>
							<div class="clearfix"></div>
						</div>
						<div class="group_form_all">
							<div class="group_form_name pull-left"><b>小组介绍</b></div>
							<div class="group_form pull-left"><textarea class="group_textarea" name="groupIntro"></textarea></div>
							<div class="clearfix"></div>
						</div>
						<div class="group_form_all">
<!-- 标签设置  -->	
							<div class="right case4" id="case4">
								<div>
									<div class="group_form_name pull-left">相关分类</div>
									<div class="group_form pull-left"><input id="textvalue" type="text" name=""></div>
									<div class="clearfix"></div>
									<div>
										<dl class="tags" style="margin-left:50px;">
<!-- 循环显示分类标签 开始处 -->
											<dd class="typeLabel12" onclick="typeLabels(2);" style="float:left;margin-top:10px;margin-left:5px;margin-right:5px;padding-top:2px;padding-bottom:2px;padding-left:8px;padding-right:8px;">
												<a href="javascript:void(0)">  分类1</a>
											</dd>
<!-- 循环显示分类标签 结束处 -->			
											<div class="clearfix"></div>						
										</dl>
									</div>
									
									<div class="subbox">
										<input id="subbox" type="checkbox" onclick="sub()" checked>我已阅读并同意排队网服务协议
									</div>
									<div>
										<div style="text-align:center;"><button id="subbutton3" type="submit" class="btn btn-info">提交申请</button></div>
									</div>
								</div>
							</div>
<!-- 标签设置 结束处 -->

						</div>
					</form>
					</div>
				</div>
			</div>

<!-- right div -->
			<div class="col-xs-4">
				<div class="agreement">
				1 .未在接口上启动ospf,这通常是因为没有正确地宣告网络，使用以下命令通常可以快速地查看
				　　show ip ospf interface  brief-查看是否在接口上启动了ospf如果表中没有接口的相关信息则说明接口没有运行ospf
				　　show run | inc network -查看是否正确地宣告了网络（技巧：管道符号可以迅速选出所需的信息，可查阅相关文档获取信息）
				<br />
				2.连接的两端未在相同区域，出现的结果："……Mismatch Area Id …virtual-link…FastEthernet0/0",此时使用指令
				　　show run | inc network
				　　show ip ospf interface F0/0  | inc Area
				<br />
				3.处于末节/次末节/NSSA区域的路由器与其边界的配置不一致
				　　show run | inc stub （在相关的路由器上执行）
				<br />
				4.身份验证不一致
				　　show run interface S1/0.304-查看接口的运行配置状况
				<br />
				5.邻居不可达，主要在non-broadcast/Tunnel/等
				　　show run | inc  neighbor -查看是否正确配置了邻居
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery.min.js"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="。。/js/bootstrap.js"></script>
		
	<script type="text/javascript">
	function change_list(a)
	{
		$("#case1").css("display","none");
		$("#case2").css("display","none");
		$("#case3").css("display","none");
		$("#case4").css("display","none");
		$("#a1").attr("class","list-group-item");
		$("#a2").attr("class","list-group-item");
		$("#a3").attr("class","list-group-item");
		$("#a4").attr("class","list-group-item");
		$("#case"+a).css("display","block");
		$("#a"+a).attr("class","active list-group-item");
	}




	function typeLabels(a)
	{
		var textvalue=$("#textvalue").val();
		$(".typeLabel3"+a).attr("class","typeLabel1"+a);
		var typeLabel1=$(".typeLabel1"+a);
		var typeLabel2=$(".typeLabel2"+a);
		typeLabel1.css("background-color","#D0D1E6");
		typeLabel2.css("background-color","#FAFAFA");
		typeLabel2.attr("class","typeLabel3"+a);
		typeLabel1.attr("class","typeLabel2"+a);
	//第一次点击 加上这个分类名
		if($('.typeLabel2'+a+'>a').html())
		{
			$("#textvalue").val(textvalue+$('.typeLabel2'+a+'>a').html());
		}
	//第二次点击 减去这个分类名
		if($('.typeLabel3'+a+'>a').html())
		{
			var strPosition=textvalue.indexOf($('.typeLabel3'+a+'>a').html());
			var textNew1=textvalue.substr(0,strPosition);
			var textNew2=textvalue.substr(strPosition+$('.typeLabel3'+a+'>a').html().length,textvalue.length);
			//var textjiechu=textvalue.substr(strPosition,strPosition+$('.typeLabel3'+a+'>#a').html().length);
			var textNew=textNew1+textNew2;
			$("#textvalue").val(textNew);
		}
	}


	function sub()
	{
		$("#subbutton3").attr("id","subbutton1");
		$("#subbutton2").removeAttr("disabled");
		$("#subbutton1").attr("disabled","disabled");
		$("#subbutton2").attr("id","subbutton3");
		$("#subbutton1").attr("id","subbutton2");
	}
		
		
	</script>
</body>
</html>