@CHARSET "UTF-8";
iv{
	border:1px solid blue;
}
pan{
	border:1px solid green;
}
a{
	color:#428BCA;
	text-decoration:none;
}
a:hover{
	color:black;
	text-decoration:none;
}









.td_a{
	padding-right:5px;
}
.td_text{
	margin-top:15px;
	text-align:center;
	vertical-align:middle;
}.td_text2{
	margin-top:15px;
	vertical-align:middle;
}
.th1{
	width:15%;
	text-align:center;
}.th2{
	width:7%;
	text-align:center;
}.th3{
	width:17%;
	text-align:center;
}.th4{
	width:15%;
	text-align:center;
}.th5{
	width:40%;
	text-align:center;
}.th6{
	width:6%;
	text-align:center;
}
.dl_progress{
	width:400px;
}
.dl_upload{
	padding:10px 0 10px 0;
}
.group_space{
	padding:0px 0 0px 150px;
}
.return_group{
	margin-left:50px;
	margin-top:15px;
}
.group_nam{
	font-size:20px;
}
.group_name{
	margin-left:30px;
	margin-top:20px;
}
.group_img{
	width:100px;
}
.dl_groupMes{
	padding:0 40px 50px 40px;
	border-bottom:1px solid #DDDDDD;
}