@CHARSET "UTF-8";

iv{
	border:1px solid blue;
}
pan{
	border:1px solid green;
}
a{
	color:#428BCA;
	text-decoration:none;
}
a:hover{
	color:black;
	text-decoration:none;
}



/*切图*/
.previewwDiv{
	width:100px;
	height:100px;
	overflow:hidden;
	margin-top:30px;
	margin-left:20px;
}
.cutImgDiv{
	padding:20px 30px 20px 30px;
}

.casee2{
	display:none;
}.casee3{
	display:none;
}.casee4{
	display:none;
}
.subbox{
	margin-left:50px;
}
.form_info span label{
	padding:0 10px 0 0px;
}
.form_info span{
	padding:0 20px 0 0px;
}
.form_info textarea{
	width:300px;
	resize:none;
	height:80px;
}
.form_info_input{
	width:300px;
}
.form_info{
	width:80%;
	padding:10px 0 10px 20px;
}
.label_info{
	width:20%;
	text-align:right;
	padding:12px 0 10px 0;
	height:35px;
}
.right{
	background-color:#FAFAFA;
	padding:10px 0 20px 0;
}