@CHARSET "UTF-8";
iv{
	border:1px solid blue;
}
pan{
	border:1px solid green;
}
a{
	color:#428BCA;
	text-decoration:none;
}
a:hover{
	color:black;
	text-decoration:none;
}





.hot_intro{
	padding:10px 10px 0px 10px;
}
.hot_title{
	border-bottom:1px solid #E4E4E4;
	padding-bottom:10px;
}
.show_person{
	padding-top:5px;
}
.focus{
	margin-left:20px;
}
.person_name{
	font-size:16px;
}
.person_content{
	width:75%;
	padding:5px 10px 5px 10px;
}
.person_avatar{
	width:25%;
}
.course{
	font-size:12px;
	text-align:center;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.a_course1{
	width:33.33%;
	padding-left:10px;
	padding-right:10px;
	margin-top:15px;
}

.interest_course_title{
	font-size:14px;
}
.a_guy{
	margin:15px 0 0px 0;
}
.my_title{
	border-bottom:1px solid #E4E4E4;
	padding-bottom:10px;
}
.my{
	margin-top:40px;
	padding:15px 15px 15px 15px;
}

.topic_collect_btn{
	width:90%;
}
.topic_collect{
	margin-top:30px;
}
.group_return{
	margin-left:20px;
	margin-top:15px;
}
.group_name{
	font-size:20px;
	margin-left:20px;
	margin-top:10px;
}
.group_name_div{
	width:65%;
}
.group_img_div{
	width:35%;
}
.topic_comment_person{
	margin-top:10px;
	margin-bottom:10px;
	padding-left:5px;
	display:block;/*内联对象需加*/
	width:120px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.commentDiv21{
	background-color:#F2F2F2;
	width:400px;
	padding:5px 10px 5px 10px;
}
.topdirection_left
{  
    width:0;height:0;
	margin:20px 0 0 0px;  
    line-height:0;  
    border-width:10px;  
    border-style:solid;  
    border-color: transparent #F2F2F2 transparent transparent;  
}
.commentDiv1{
	width:15%;
	padding:0px 5px 5px 5px;
	margin:10px 0 20px 0;
}.commentDiv2{
	width:85%;
}
.topic_comment{
	margin-top:20px;
	padding:5px 0px 5px 10px;
}
.change_intro{
	text-align:right;
}
.group_introduce img{
	width:60%;
	display:block;
	margin-left:20%;
}
.comment_act_btn{
	height:50px;
	width:100%;
}
.comment_act1_tarea{
	resize:none;
	width:100%;
	height:50px;
}
.comment_act2{
	width:15;
	padding:10px 0px 10px 0px;
}
.comment_act1{
	width:85%;
	padding:10px 10px 10px 0px;
}
.comment_act{
	width:100%;
}
.group_comment{
	display:none;
}
.span_news{
	margin-left:20px;
	font-size:12px;
}
.time{	
	color:#999999;
	font-size:13px;
	text-align:right;
	padding:0px 5px 5px 5px;
}
.group_introduce{
	background-color:#F2F2F2;
	width:100%;
	padding:20px 20px 20px 20px;
}
.topdirection  
{  
    width:0;height:0;
	margin:-5px 0 0 30px;  
    line-height:0;  
    border-width:12px;  
    border-style:solid;  
    border-color: transparent transparent #F2F2F2 transparent;  
}
.topic_publisher_sign{
	font-size:13px;
	margin-top:5px;
	padding-left:15px;
	display:block;/*内联对象需加*/
	width:400px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.topic_publisher{
	font-size:16px;
	margin-top:10px;
}
.delSpan{
	margin-left:10px;
}
.group_names{
	margin-left:10px;
}
.group_img{
	width:70px;
}
.topic_title{
	font-size:20px;
	margin-bottom:20px;
}