@CHARSET "UTF-8";
iv{
	border:1px solid blue;
}
pan{
	border:1px solid green;
}
a{
	color:#428BCA;
	text-decoration:none;
}
a:hover{
	color:black;
	text-decoration:none;
}



.show_person{
	padding-top:5px;
}
.focus{
	margin-left:20px;
}
.person_name{
	font-size:16px;
}
.person_content{
	width:75%;
	padding:5px 0px 5px 15px;
}
.person_avatar{
	width:25%;
}
.course{
	font-size:12px;
	text-align:center;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.a_course1{
	width:33.33%;
	padding-left:10px;
	padding-right:10px;
	margin-top:15px;
}

.interest_course_title{
	font-size:14px;
}
.a_guy{
	margin:5px 0 0px 0;
}
.pageChange{
	text-align:right;
	margin-top:5px;
}
.my_title{
	border-bottom:1px solid #E4E4E4;
	padding-bottom:10px;
}
.my{
	margin-top:40px;
}
.hot_newpage{
	margin-top:20px;
}
.type_inter{
	margin-top:35px;
	margin-left:40px;
}
.type_inter button{
	width:100px;
}
.type_title{
	margin-left:30px;
	margin-top:20px;
	font-size:20px;
}
.a_type1{
	width:65%;
	height:130px;
	background-color:#F2F2F2;
}.a_type2{
	width:35%;
}
.a_type{
	width:40%;
	margin:0 10% 30px 0;
	
	height:130px;
}