<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">

<link href="../css/purchase.css" rel="stylesheet">    


<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../js/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../js/bootstrap.js"></script>
	
<script type="text/javascript">

	
	
</script>
</head>
<body>
	
	<div class="container" style="margin-top:45px">
		<div class="row">
			<div class="col-xs-12">
				<div class="purchaseDiv">
					<div class="purchaseDiv1">
						您正在购买<b>亚里士多德</b>老师的<b>《形而上学》</b>系列课程,本课程的价格为<b>$29.9</b>,请确认价格并且购买
					</div>
					<div class="purchaseDiv2">
						<div class="pull-left pur_img">
							<img src="../img/rd.jpg" width="100%"/>
						</div>
						<div class="pull-left pur_content">
							<div>
								<span class="pur_course_name"><b>形而上学</b></span>
								<span class="pur_course_teacher">亚里士多德</span>
								<span class="pull-right"><a href=""><b>取消</b></a></span>
								<div class="clearfix"></div>
							</div>
							<div class="pur_price">实付款：￥2555.00</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="purchaseDiv3">
						<div class="pull-right">
							<button type="button" class="btn btn-info">确定购买</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	

</body>
</html>