<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">

<link href="../css/theCourse.css" rel="stylesheet">    
</head>
<body>
	
	<div class="container" style="margin-top:45px">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<ol class="breadcrumb tc_breadcrumb">
					  <li><a href="#">大分类</a></li>
					  <li><a href="#">小分类</a></li>
					  <li class="active">课程</li>
					</ol>
				</div>
				<div class="tc_topDiv">
					<div class="pull-left tc_topDiv1">
						<div>
							<img src="../img/rd.jpg" width="100%"/>
						</div>
<!-- 只有老师有  开始-->
						<div class="change_img"><a id="change_img" href="#" data-toggle="popover" data-placement="bottom" data-content="<div><form action='' method='post' enctype='multipart/form-data'><div><input type='file'></div><div style='margin-top:15px;text-align:center'><input type='submit' value='确认修改'></div></form></div>" data-original-title title><b>修改图片</b></a></div>
<!-- 只有老师有   结束 -->
					</div>
					<div class="pull-left tc_topDiv2">
						<div>
							<div class="cl_a_course_right1">
								<div class="pull-left cl_course_name"><b>课程名课程名课程名课程名课程名</b></div>
								<div class="pull-left">
<!-- 用星星评价的地方    第一个span是黄色星星  第二个span是空心星星  分别循环   -->
									<span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span>☆</span>
<!-- 用星星评价的地方 结束 -->							
								</div>
								<div class="pull-left cl_font">（123人评价）</div>
								<div class="pull-left cl_font">5566人购买</div>
								<div class="pull-left price"><span class="badge">￥2555.00</span></div>
								<div class="pull-right">
<!-- 老师  只有这1个button -->
									<button type="button" class="btn btn-warning tc_btn_intro">添加课时</button>
<!-- 其他用户  只有这两个button -->
									<button type="button" class="btn btn-warning tc_btn_intro">购买</button>
									<button type="button" class="btn btn-info tc_btn_intro">收藏</button>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
<!-- 只有老师有  开始-->
						<div class="change_title"><a id="change_title" href="javascript:void(0)" data-toggle="popover" data-placement="bottom" data-content="<div><div><input type='text' maxlength='15' style='resize:none;width:200px;'></div><div style='margin-top:15px;text-align:center'><a href='' type='button' class='btn btn-default btn-xs'>确认修改</a></div></div>" data-original-title title><b>修改课程名</b></a></div>
<!-- 只有老师有   结束 -->
						<div class="tc_introduce"><i>
<!-- 此处课程介绍需要由后台截断字符串 -->
							课程介绍：形而上学，是一个传统的哲学分支，旨在解释存在和世界的基本性质。但是，如何准确地定义这个术语并不容易。传统上，形而上学试图用尽可能宽泛的措辞回答两个基本的问题： 根本上有什么存在？它是什么样的？ 形而上学家试图阐明人们用以理解世界的基本概念，例如存在、客体及其性质、空间和时间、因果和可能性。
						</i></div>
						<div class="tc_share">
							<div class="pull-left">
								<div class="change_intro"><a id="change_intro" href="javascript:void(0)" data-toggle="popover" data-placement="bottom" data-content="<div><div><textarea style='resize:none;width:200px;'></textarea></div><div style='margin-top:15px;text-align:center'><a href='' type='button' class='btn btn-default btn-xs'>确认修改</a></div></div>" data-original-title title><b>修改课程介绍</b></a></div>
							</div>
							<div class="pull-right">
								分享到：XXXXXX
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 row2_col">
				<div class="tc_teacher_intro">
					<div>
						<div class="pull-left tc_tea_img">
							<img src="../img/rd.jpg" class="img-circle" width="100%"/>
						</div>
						<div class="pull-left tc_tea_name">
							<div><b>亚里士多德少的看天意</b></div>
							<div class="tc_tea_name2"><a href=""><b>关于他>></b></a></div>
							<div><button type="button" class="btn btn-info btn-xs">+关注</button></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div><i>关于亚里士多德的个人介绍：关于亚里士多德的个人介绍：关于亚里士多德的个人介绍关于亚里士多德的个人介绍关于亚里士多德的个人介绍：关于亚里士多德的个人介绍：关于亚里士多德的个人介绍：</i></div>
				</div>
			</div>
			<div class="col-xs-9 row2_col">
				<div>
					<div class="tab_left">
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#purchase" data-toggle="tab">课时</a></li>
						  <li><a href="#collect" data-toggle="tab">课程评价</a></li>
						</ul>
					</div>
				</div>
<!-- Tab panes -->
				<div class="tab-content">
<!-- 课时 标签第一签 -->
					<div class="tab-pane active" id="purchase">
						<div>
							<table class="table table-hover">
								<tbody>
<!-- 一条课时  循环开始处 -->
									<tr>
										<td>
											<span class="glyphicon glyphicon-play-circle"></span>
										</td>
										<td class="td_12">
											课时1：
											<a href="" title="哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</a>
										</td>
									</tr>
<!-- 一条课时  循环结束处 -->
								</tbody>
							</table>
						</div>
						<div class="tc_ifEndDiv">
							<div class="tc_ifEnd"><button type="button" class="btn btn-warning">确定完结课程</button></div>
							<div class="tc_ifEnd"><i>课时已完结</i></div>
							<div class="tc_ifEnd"><i>课时未完结</i></div>
						</div>
					</div>
<!-- 课程评价  标签第二签 -->
					<div class="tab-pane" id="collect">
<!-- 一条课程评价   循环开始处 -->
						<div class="tc_commit">
							<div class="pull-left tc_commit1">
								<div><img src="../img/rd.jpg" width="100%"/></div>
							</div>
							<div class="pull-left tc_commit2">
								<div class="topdirection pull-left"></div>
								<div class="pull-left tc_commit32">
									<div>
<!-- 用星星评价的地方    第一个span是黄色星星  第二个span是空心星星  分别循环   -->
										<span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span>☆</span>
<!-- 用星星评价的地方 结束 -->				
										<span class="tc_commit_name"><a href="">芸豆炖白菜炖土豆</a></span>
										<span class="tc_time">2014-5-2 12:54:23</span>
									</div>
									<div class="tc_commit_content">评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
<!-- 一条课程评价   循环结束处 -->
					</div>
				</div>
			</div>
	</div>
	
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery.min.js"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../js/bootstrap.js"></script>	
	<script type="text/javascript">
	$('#change_img').popover({html:true});
	$('#change_title').popover({html:true});
	$('#change_intro').popover({html:true});
		
		
	</script>	
	

</body>
</html>