<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../ico/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<link href="../css/home.css" rel="stylesheet">    

</head>
<body>
	{% include 'public/common/header.html' %}
<div class="container" style="margin-top:45px">
		<div class="row">
<!-- 左侧div -->
			<div class="col-xs-4">
<!--我的主页 个人名片  -->
				{% ifequal identity '1' %}
				<div class="person">
					<div>
						<div class="person_img pull-left"><img src="{{info.domain}}//{{info.img}}" width="100%"/></div>
						<div class="pull-left person_intro">
							<div class="intro">
								<span><a href=""><font size="4">{{info.user_name|capfirst}}</font></a></span>
								<span style="color:#FFAD33;"><i class="icon-lightbulb icon-large"></i></span>
							</div>
							<div class="intro">
								<span class="span_span pull-left"><a href="{% url 'users:setting' %}"><i class="icon-cogs"></i> 编辑我的资料</a></span>
								<div class="clearfix"></div>
							</div>
							<div class="intro sign">
								<font size="1"><i class="icon-pencil"></i></font>
								<font size="1" title="{{info.sign}}"><i>{{info.sign}}</i></font>
							</div>	
							<div class="intro2">
								<div class="inintro2 pull-left">
									<div><strong>关注</strong></div>
									<div>{{info.focus_con}}</div>
								</div>
								<div class="inintro2 pull-left">
									<div><strong>粉丝</strong></div>
									<div>{{info.fan_con}}</div>
								</div>
								<div class="inintro3 pull-left">
									<div><strong>小组</strong></div>
									<div>{{info.follow_group_con}}</div>
								</div>
								<div class="clearfix"></div>
							</div>					
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				{% endifequal %}
<!--我的主页 个人名片  结束-->
				{% ifequal identity '0' %}
<!--他的主页 个人名片  -->
				<div class="person">
					<div>
						<div class="person_img pull-left"><img src="{{info.domain}}/{{info.img}}" width="100%"/></div>
						<div class="pull-left person_intro">
							<div class="intro">
								<span><a href=""><font size="4">{{info.user_name|capfirst}}</font></a></span>
								<span style="color:#FFAD33;"><i class="icon-lightbulb icon-large"></i></span>
							</div>
							<div class="intro">
								<span><button type="button" class="btn btn-info btn-xs">+关注</button></span>
								<span><button style="margin-left:20px;" type="button" class="btn btn-warning btn-xs">私信</button></span>
								<div class="clearfix"></div>
							</div>
							<div class="intro sign">
								<font size="1"><i class="icon-pencil"></i></font>
								<font size="1" title="{{info.sign}}"><i>{{info.sign}}</i></font>
							</div>	
							<div class="intro2">
								<div class="inintro2 pull-left">
									<div><strong>关注</strong></div>
									<div>{{info.focus_con}}</div>
								</div>
								<div class="inintro2 pull-left">
									<div><strong>粉丝</strong></div>
									<div>{{info.fan_con}}</div>
								</div>
								<div class="inintro3 pull-left">
									<div><strong>小组</strong></div>
									<div>{{info.follow_group_con}}</div>
								</div>
								<div class="clearfix"></div>
							</div>					
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				{% endifequal %}
<!--他的主页 个人名片  结束-->
<!--我的主页 管理我的课程、小组、悬赏 -->
			{% ifequal identity '1' %}
				<div class="manage">
					<div class="a_manage"><a href=""><strong>>>管理我的小组</strong></a></div>
					<div class="a_manage"><a href=""><strong>>>管理我的课程</strong></a></div>
					<div class="a_manage"><a href=""><strong>>>管理我的悬赏</strong></a></div>
				</div>
			{% endifequal %}
<!-- 他的主页 个人介绍 -->
			{% ifequal identity '0' %}
				<div class="person_introduce">
					<div><strong>个人介绍</strong></div>
					<div class="person_intro_content">
						{{info.introduce}}
					</div>
				</div>
			{% endifequal %}
<!-- 他的主页 个人介绍 结束处-->
<!-- 推荐课程 
				<div class="my">
					<div class="interest_course_title"><strong>{% ifequal info.sex 1 %}他{% else %}她{% endifequal %}的小组</strong></div>

					<div class="interest_course">
一条推荐课程 循环开始处 
						<div class="a_course1 pull-left">
							<div><a href=""><img src="../img/rd.jpg" width="100%"/></a></div>
							<div class="course" style=""><a href=""><strong>小组名</strong></a></div>
							<div class="course">1263关注</div>
						</div>
一条推荐课程 循环结束处 
						<div class="clearfix"></div>
					</div>
				</div>
-->
<!-- 推荐课程 结束处-->
<!-- 推荐好友 -->
				<div class="my">
					<div><b>{% ifequal info.sex 1 %}他{% else %}她{% endifequal %}的好友</b></div>
<!-- 一个推荐的好友 循环开始处 -->
					<div class="a_guy">
						{% for u in guy %}
						<div class="pull-left person_avatar"><a href=""><img src="{{u.5}}/{{u.3}}" width="100%"/></a></div>
						<div class="pull-left person_content">
							<div><span class="person_name"><a href=""><b>{{u.0}}</b></a></span><span class="focus"><button id="add{{u.4}}" type="button" onclick="add({{u.4}})" class="btn btn-info btn-xs">+ 关注</button><button id="abord{{u.4}}" style="display:none" type="button" onclick="abord({{u.4}})" class="btn btn-danger btn-xs">取消关注</button></span></div>
							<div class="show_person"><a href=""><b>查看资料</b></a></div>
						</div>
						<div class="clearfix"></div>
						{% endfor %}
					</div>
<!-- 一个推荐的好友 循环结束处 -->
				</div>
<!-- 推荐好友 结束处-->
			</div>
<!-- 右侧div -->
			<div class="col-xs-8">
				<div>
<!-- 一条新鲜事 循环开始处 -->
					<div class="newsDiv">
						<div class="in_newsDiv"> 
							<ul class="nav nav-tabs" id="myTab">
							  <li class="active"><a href="#dongtai" data-toggle="tab">动态</a></li>
							  <li><a href="#xiaozu" data-toggle="tab">{{info.user_name|capfirst}}的小组</a></li>
							  <li><a href="#kecheng" data-toggle="tab">发布的课程</a></li>
<!-- 只有他的主页有 开始处 -->
							  <li><a href="#xuanshang" data-toggle="tab">{{info.user_name|capfirst}}的悬赏</a></li>
							  <li><a href="#xinxi" data-toggle="tab">详细信息</a></li>
<!-- 只有他的主页有结束处 -->
							</ul>
							
							<div class="tab-content">
<!-- 动态 标签第一签 -->
								<div class="tab-pane active" id="dongtai">
<!-- 一条动态 循环开始处 -->
							{% for i in news %}
									<div class="a_dongtai">
										<div class="dongtai_img pull-left">
											<img src="{{info.domain}}/{{info.img}}" width="100%"/>
										</div>
										<div class="dongtai_content pull-left">
											<div class="triangle pull-left"></div>
											<div class="dongtai_content1 pull-left">
												<div class="time">{{i.time|date:"Y-m-d H:i:s"}}</div>
												<div class="news_cont">
													<div>{{i.content}}</div>
													{% if i.img %}
													<div style="width:100px;"><img id="news_image1" class="news_image" src="{{i.src}}-mzimg" onmouseover="change();" onclick="larger(1);"/></div>
													{% endif %}
													<div class="news_act">
														<span class="span_news"><a href="javascript:void(0)" onclick="clickgoodgood({{i.id}})"><i class="icon-thumbs-up"></i> <span id="good{{i.id}}">{{i.good_con}}</span></a></span>
														<span class="span_news"><a href="javascript:void(0)" data-toggle="modal" data-target="#shareThis{{i.id}}" title="分享到我的新鲜事"><i class="icon-share-alt"></i> <span id="share{{i.id}}">{{i.share_con}}</span></a></span>
														<span class="span_news"><a href="javascript:void(0)"><i class="icon-comment"></i> {{i.review_con}}</a></span>
													</div>
												</div>
												<div class="modal fade" id="shareThis{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <div class="modal-header">
												        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												        <h4 class="modal-title">分享到我的新鲜事</h4>
												      </div>
												      <div class="modal-body">
												      	<div class="content" style="margin-bottom:20px"><textarea id="sharemsg{{i.id}}" class="form-control">//{{info.user_name|capfirst}}:{{i.content}}</textarea></div>
												        {% if i.img %}
														<img id="larger{{i.id}}" class="larger" src="../news/{{i.img}}" width="320" />
														{% endif %}
												      </div>
												      <div class="modal-footer">
												        <button type="button" onclick="shareTo({{i.id}})" class="btn btn-primary">分享</button>
												      </div>
												    </div><!-- /.modal-content -->
												  </div><!-- /.modal-dialog -->
												</div><!-- /.modal -->
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="clearfix"></div>
									</div>
							{% endfor %}
<!-- 一条动态 循环结束处 -->
								</div>
<!-- XX的小组 标签第二签 -->
								<div class="tab-pane" id="xiaozu">
									<div class="join_groups">
										<div class="join_content">
<!-- 他加入的小组  幻灯片开始处 每页七个 -->		
											<div class="join_title">
												<span class="pull-left"><b>他加入的小组</b></span>
												<span class="pull-right home_all_join_groups"><a href="">查看更多</a></span>
												<div class="clearfix"></div>
											</div>
											<div class="bs-example" style="width:100%;">
										      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
										        <div class="carousel-inner">
										          <div class="item active">
<!-- 一个小组 幻灯片  第一页   共循环6个 循环开始处-->
										          	<div class="pull-left join_a_group">
										          		<div class="includegroups">
															<a href="#" title="小组名"><img src="public/img/rd.jpg" width="100%"/></a>
														</div>
													</div>
<!-- 一个小组 幻灯片    第一页  共循环6个 循环结束处-->
													<div class="clearfix"></div>
										          </div>
										          <div class="item">
<!-- 一个小组 幻灯片  第二页   共循环6个 循环开始处-->
										          	<div class="pull-left join_a_group">
										          		<div class="includegroups">
															<a href="#" title="小组名"><img src="public/img/rd.jpg" width="100%"/></a>
														</div>
													</div>
<!-- 一个小组 幻灯片  第二页   共循环6个 循环结束处-->													
													<div class="clearfix"></div>
												  </div>
										        </div>
										        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
										          <span class="glyphicon glyphicon-chevron-left"></span>
										        </a>
										        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
										          <span class="glyphicon glyphicon-chevron-right"></span>
										        </a>
										      </div>
										    </div>
<!--  他加入的小组  幻灯片结束处 -->
												
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="create_group">
										<div class="create_title"><b>他创建的小组</b></div>
<!-- 他创建的小组 循环开始处 -->
									{% for i in mygroup %}
										<div class="a_group">
											<div>
												<div class="group_img pull-left">
													<a href=""><img src="{{i.1}}/{{i.2}}" width="100%"/></a>
												</div>
												<div class="group_intro pull-left">
													<div>
														<div class="pull-left">
															<a href=""><b>{{i.0}}</b></a>
														</div>
														{% ifequal identity '0' %}
														<div class="btn_join_group pull-left">
															{% ifequal i.4 '1' %}
															<button type="button" class="btn btn-danger btn-xs">退出小组</button>
															{% else %}
															<button type="button" class="btn btn-info btn-xs">加入小组</button>
															{% endifequal %}
														</div>
														{% endifequal %}
														<div class="clearfix"></div>
													</div>
													<div class="group_introduce">
														{{i.3}}
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div>
												<div class="topdirection"></div>
												<div class="topic">
<!-- 一个话题 循环开始处 -->
													<div class="a_topic">
														<div>
															<div class="a_topic_title pull-left"><a href=""><b>省钱的好办法有哪些~？省钱的好办法有哪些~？省钱的好办法有哪些~？省钱的好办法有哪些~？</b></a></div>
															<div class="a_topic_time pull-right">2014-2-5 15:56:18</div>
															<div class="clearfix"></div>
														</div>
														<div class="a_topic_content">
															<i>唧唧复唧唧，木兰当户织。不闻机杼声，惟闻女叹息。问女何所思，问女何所忆。女亦无所思，女亦无所忆。</i>
														</div>
														<div class="hr"></div>
													</div>
<!-- 一个话题 循环结束处 -->
													<div class="topic_more"><a href="">>>更多</a></div>
												</div>
											</div>
										</div>
									{% endfor %}
<!-- 他创建的小组 循环结束处 -->
									</div>
								</div>
<!-- 发布的课程 标签第三签 -->
								<div class="tab-pane" id="kecheng">
									<div class="course_publish">
										<div>
											<select id="sel" onChange="chg()">
												<option value="1">按人气排序</option>
												<option value="2">按时间排序</option>
												<option value="3">按价格排序</option>
											</select>
										</div>
<!-- 一个课程 循环开始处 -->
										<div class="a_course">
											<div>
												<div class="a_course_img pull-left">
													<div><img src="../img/rd.jpg" width="100%"/></div>
													<div class="course_title">形而上学</div>
												</div>
												<div class="a_course_intro pull-left">
													<div>
														<div class="course_score pull-left">
															<span>
<!-- 用星星评价的地方    第一个span是黄色星星  第二个span是空心星星  分别循环   -->
																<span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span class="yellow_star">&#9733</span><span>☆</span>
<!-- 用星星评价的地方 结束 -->							
															</span>
															<span class="score_con"><b>（131人评价）</b></span>
														</div>
														<div class="pull-right">
															<span style="margin-right:20px;"><b>￥35.00</b></span>
															<span><button type="button" class="btn btn-warning btn-xs"><b>购&nbsp;&nbsp;买</b></button></span>
															<span><button type="button" class="btn btn-info btn-xs"><b>收&nbsp;&nbsp;藏</b></button></span>
														</div>
														<div class="clearfix"></div>
													</div>
													<div class="a_course_intro_content">
														<i>
															形而上学，是一个传统的哲学分支，旨在解释存在和世界的基本性质。但是，如何准确
															地定义这个术语并不容易。传统上，形而上学试图用尽可能宽泛的措辞回答两个基本的
															问题： 根本上有什么存在？ 它是什么样的？ 形而上学家试图阐明人们用以理解世界的
															基本概念，例如存在、客体及其性质、空间和时间、因果和可能性。
														</i>
													</div>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
<!-- 一个课程 循环结束处 -->
									</div>
								</div>
<!-- 只有他的主页有 开始处 -->
<!-- XX的悬赏  标签第四签-->
								<div class="tab-pane" id="xuanshang">
									<div class="rewards">
										<div>
											<select id="sel" onChange="chg2()">
												<option value="1">未过期</option>
												<option value="2">已过期</option>
											</select>
										</div>
										<div class="all_rewards">
<!-- 一个悬赏 循环开始处 -->										
											<div class="a_reward pull-left">
												<div class="a_a_reward">
													<div class="a_reward1">
														<div class="a_reward11 pull-left">
															<div class="reward_img"><img src="../img/rd.jpg" width="100%" class="img-circle"></div>
														</div>
														<div class="a_reward12 pull-left">
															<div class="reward_type pull-right"><b>#编程</b></div>
															<div class="clearfix"></div>
															<div class="reward_name">
																求购PHP基础课程求购PHP基础课程
															</div>
															<div class="reward_price"><b>￥20.00</b></div>
														</div>
														<div class="clearfix"></div>
													</div>
													<div class="a_reward2">
														<div class="topdirection"></div>
													</div>
													<div class="a_reward3">
														<div>求购PHP课程的具体内容求购PHP课程的具体内容求购PHP课程的具体内容求购PHP课程的具体内容求购PHP课程的具体内容</div>
														<div class="reward_in pull-right"><a href=""><b>查看详情</b></a></div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
<!-- 一个悬赏 循环结束处 -->
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
<!-- 详细信息  标签第五签 -->
								<div class="introduce tab-pane" id="xinxi">
									<div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-user"></span> 昵称</div>
											<div class="intro_right pull-left">{{info.user_name|capfirst}}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-map-marker"></span> 所在城市</div>
											<div class="intro_right pull-left">{{info.position}}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-briefcase"></span> 职业</div>
											<div class="intro_right pull-left">{{info.work}}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-calendar"></span> 生日</div>
											<div class="intro_right pull-left">{{info.birthday}}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-globe"></span> 星座</div>
											<div class="intro_right pull-left">{{info.constellation}}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-adjust"></span> 性别</div>
											<div class="intro_right pull-left">{% ifequal info.sex 1 %}男{% else %}女{% endifequal %}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-pencil"></span> 签名</div>
											<div class="intro_right pull-left">{{info.sign}}</div>
											<div class="clearfix"></div>
										</div>
										<div>
											<div class="intro_left pull-left"><span class="glyphicon glyphicon-tag"></span> 标签</div>
											<div class="intro_right pull-left">
<!-- 个人标签 循环开始处-->
												<div class="intro_tags pull-left">标签1</div>
<!-- 个人标签 循环结束处-->												
												<div class="clearfix"></div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
<!-- 只有他的主页有结束处 -->
							</div>

						</div>
					</div>
<!-- 一条新鲜事 循环结束处 -->
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/add.js"></script>
	<script src="../js/good.js"></script>
	<script src="../js/share.js"></script>
	<script type="text/javascript">
		function larger(a){
			var wid=$("#news_image"+a).css("width");
			if(wid=="380px"){
				$("#news_image"+a).css("width","100%");
			}else{
				$("#news_image"+a).css("width","380px");
			}
		}
		function change()
		{
			//最好使用ico或cur格式的文件，分辨率最好是32×32
			//$("#news_image").css("cursor","url('../img/rd.jpg'),auto");
			//$("#news_image").css("cursor","url('../img/rd.jpg'),default");
			$(".news_image").css("cursor","pointer");
		}
		
	</script>
</body>
</html>