<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>麦知网——学问有余，乐为人师</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../css/non-responsive.css" rel="stylesheet">
<link href="../css/fontawesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<link href="../css/manageReward.css" rel="stylesheet">    
 
</head>
<body>
	
<div class="container" style="margin-top:45px">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<div class="tab_left pull-left">
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#online" data-toggle="tab">未过期</a></li>
						  <li><a href="#dead" data-toggle="tab">已过期</a></li>
						  <li><a href="#hunt" data-toggle="tab">已揭悬赏</a></li>
						</ul>
					</div>
					<div class="btn_right pull-right">
						<button type="button" class="btn btn-warning btn-lg">发布新课程</button>
					</div>
					<div class="clearfix"></div>
				</div>
<!-- Tab panes -->
				<div class="tab-content">
<!-- 我发布的未过期悬赏 标签第一签 -->
					<div class="tab-pane active" id="online">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="th1">悬赏</th>
									<th class="th2">状态</th>
									<th class="th3">揭榜数/留言数</th>
									<th class="th4">过期时间</th>
									<th class="th5">操作</th>
								</tr>
							</thead>
							<tbody>
<!-- 我发布的未过期悬赏  一条悬赏循环开始处 -->
								<tr>
									<td class="td1">
										<div class="td_12"><a href="" title="求购PHP基础课程课程课程" target="_blank">求购PHP基础课程课程课程</a></div>
									</td>
									<td>
<!-- 未成交的  -->
										<div class="td_text">未成交</div>
<!-- 已成交的 -->
										<div class="td_text">已成交</div>
<!-- 制作中 -->
										<div class="td_text">制作中</div>
									</td>
									<td><div class="td_text">50/16</div></td>
									<td><div class="td_text">2014-5-5 12:12:55</div></td>
									<td>
										<div class="td_text">
											<span class="td_a"><a href="">编辑</a></span>
											<span class="td_a"><a id="selectPartner" href="#" data-toggle="popover" data-placement="bottom" data-content="<div><!-- 一个揭榜者 开始循环处 --><a href=''><span class='partner pull-left'>孙芃芸</span></a><!-- 一个揭榜者 结束循环处 --></div>" data-original-title title>选择合作伙伴</a></span>
											<span class="td_a"><a href="">删除</a></span>
										</div>
									</td>
								</tr>
<!-- 我发布的未过期悬赏  一条悬赏循环结束处 -->
							</tbody>
						</table>
					</div>
<!-- 我发布的未过期悬赏 标签第二签 -->
					<div class="tab-pane" id="dead">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="tth1">悬赏</th>
									<th class="tth2">状态</th>
									<th class="tth3">揭榜数/留言数</th>
									<th class="tth4">交易对象</th>
									<th class="tth5">操作</th>
								</tr>
							</thead>
							<tbody>
<!-- 我发布的已过期悬赏  一条悬赏循环开始处 -->
								<tr>
									<td class="td1">
										<div class="td_12"><a href="" title="求购PHP基础课程课程课程" target="_blank">PHP基础课程课程课程课程</a></div>
									</td>
									<td>
<!-- 未成交的  -->
										<div class="td_text">未成交</div>
<!-- 已成交的 -->
										<div class="td_text">已成交</div>
									</td>
									<td><div class="td_text">50/16</div></td>
									<td><div class="td_text"><span>孙芃芸</span><span class="mes"><a href=""><span class="glyphicon glyphicon-envelope"></span></a></span></div></td>
									<td>
										<div class="td_text">
											<span class="td_a"><a href="">延期</a></span>
											<span class="td_a"><a href="">删除</a></span>
										</div>
									</td>
								</tr>
<!-- 我发布的已过期悬赏  一条悬赏循环结束处 -->
							</tbody>
						</table>
					</div>
<!-- 我发布的未过期悬赏 标签第三签 -->
					<div class="tab-pane" id="hunt">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="tth1">悬赏</th>
									<th class="tth2">状态</th>
									<th class="tth3">揭榜数/留言数</th>
									<th class="tth4">交易对象</th>
									<th class="tth5">操作</th>
								</tr>
							</thead>
							<tbody>
<!-- 我发布的已过期悬赏  一条悬赏循环开始处 -->
								<tr>
									<td class="td1">
										<div class="td_12"><a href="" title="求购PHP基础课程课程课程" target="_blank">PHP基础课程课程课程课程</a></div>
									</td>
									<td>
<!-- 未付款的  -->
										<div class="td_text">未付款</div>
<!-- 已付款的 -->
										<div class="td_text">已付款</div>
<!-- 未成交 的 -->
										<div class="td_text">未成交</div>
									</td>
									<td><div class="td_text">50/16</div></td>
									<td><div class="td_text"><span>孙芃芸</span><span class="mes"><a href=""><span class="glyphicon glyphicon-envelope"></span></a></span></div></td>
									<td>
										<div class="td_text">
											<span class="td_a"><a href="">删除</a></span>
										</div>
									</td>
								</tr>
<!-- 我发布的已过期悬赏  一条悬赏循环结束处 -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</div>
	
	
	
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery.min.js"></script>
	
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../js/bootstrap.js"></script>
	<script type="text/javascript">
		$('#selectPartner').popover({html:true});
		
		
	</script>
</body>
</html>